<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="{{url_for('db_choice')}}" method="post">

        <label for="DBchoice">Choose DB</label>
        <select name="DBchoice" id="db" required>
            <option value="mongodb">MongoDB</option>
            <option value="mysql">Mysql</option>
            <option value="postgresql">Postgresql</option>
        </select>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>